---
const { title } = Astro.props;
---
<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
      <h1 class="text-3xl font-bold text-gray-900">
          { title }
      </h1>
      <nav>
        <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
          <li><a href="#contact">Contact</a></li>
          <li><a href="#summary">Summary</a></li>
          <li><a href="#techstack">Techstack</a></li>
          <li><a href="#experiences">Experiences</a></li>
        </ul>
      </nav>
  </div>
</header>